{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "strict": 0,
    "no-console": 0,
    "semi": [2, "never"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
